
NEXT_PUBLIC_SITE_URL=https://trustelitetravels.com
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CONTACT_FROM_EMAIL=Trust Elite Travel <demandes@trustelitetravels.com>
CONTACT_TO_EMAIL=contact@trustelitetravels.com
